RaspberryPi/Node-RED flows/flows.json
[{"id":"f91d108a.0d1f9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"326ca7b6.517388","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f5dab55.a277848","type":"tls-config","name":"No server verification","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"c86d504e2928dff2","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fedf35c434c73029","type":"mqtt-broker","name":"LED","broker":"srv-iot.diatel.upm.es","port":"8883","tls":"f5dab55.a277848","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91a5d26c7e81f64e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9a0d33a2.1a08e","type":"ui_group","name":"Snacks","tab":"","order":2,"disp":true,"width":"4","collapse":false},{"id":"e5e4292c.7399b8","type":"ui_group","name":"Cold Drinks","tab":"","order":3,"disp":true,"width":"4","collapse":false},{"id":"efa669d4.8332e","type":"ui_group","name":"Hot Drinks","tab":"","order":4,"disp":true,"width":"4","collapse":false},{"id":"f4a24689.f17c7","type":"ui_group","name":"Temperature","tab":"","order":1,"disp":true,"width":"4","collapse":false},{"id":"9d604648.95ac6","type":"ui_group","name":"Warning","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"497e2e70e4a6b7c5","type":"ui_group","name":"Full Bin","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b4e0bc2b.49051","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bb106593.2e3ea8","type":"ui_tab","name":"TFM","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7655f99.b73fa","type":"ui_group","name":"Glass","tab":"bb106593.2e3ea8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d7765006.767cc","type":"ui_group","name":"Paper","tab":"bb106593.2e3ea8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4279d3e5.76e44c","type":"ui_group","name":"Plastic","tab":"bb106593.2e3ea8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"79d9ba0c.6c7a44","type":"ui_group","name":"Organic","tab":"bb106593.2e3ea8","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6bb99662.6f2958","type":"inject","z":"f91d108a.0d1f9","name":"inject after 30 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":190,"y":260,"wires":[["3e8bc863.32efb8"]]},{"id":"3e8bc863.32efb8","type":"function","z":"f91d108a.0d1f9","name":"Generate 25% integer","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"organic\";\nmsg.payload.capacity=25;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["7e508498.6912ac","385757c0.997ea8","ce94b15a.fb39c"]]},{"id":"741c640c.4aee9c","type":"comment","z":"f91d108a.0d1f9","name":"Organic","info":"","x":130,"y":160,"wires":[]},{"id":"56d6f239.2c1f0c","type":"comment","z":"f91d108a.0d1f9","name":"Paper","info":"","x":110,"y":560,"wires":[]},{"id":"9914f778.23cb68","type":"function","z":"f91d108a.0d1f9","name":"Generate 50% integer","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"organic\";\nmsg.payload.capacity=50;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["f7c75806.053a08","385757c0.997ea8","ce94b15a.fb39c"]]},{"id":"6c2d5548.72423c","type":"inject","z":"f91d108a.0d1f9","name":"inject afer 90 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"90","topic":"","payloadType":"date","x":190,"y":320,"wires":[["9914f778.23cb68"]]},{"id":"f7c75806.053a08","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"be653e4b.60984","type":"inject","z":"f91d108a.0d1f9","name":"inject after 120 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"120","topic":"","payloadType":"date","x":190,"y":380,"wires":[["c789771c.8ee1d8"]]},{"id":"c789771c.8ee1d8","type":"function","z":"f91d108a.0d1f9","name":"Generate 75% integer","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"organic\";\nmsg.payload.capacity=75;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["ac4c6415.98b2e8","385757c0.997ea8","ce94b15a.fb39c"]]},{"id":"6491b43b.96f19c","type":"function","z":"f91d108a.0d1f9","name":"Generate 100% integer","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"organic\";\nmsg.payload.capacity=100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["99ef4bf0.1fd8c8","385757c0.997ea8","ce94b15a.fb39c"]]},{"id":"c27ffcc3.0c5ce","type":"inject","z":"f91d108a.0d1f9","name":"inject after 180 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"180","topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["6491b43b.96f19c"]]},{"id":"ac4c6415.98b2e8","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":380,"wires":[]},{"id":"99ef4bf0.1fd8c8","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":440,"wires":[]},{"id":"7e508498.6912ac","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"385757c0.997ea8","type":"mqtt out","z":"f91d108a.0d1f9","name":"Organic Bin","topic":"smarthome/kitchen/bins/organic","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4e0bc2b.49051","x":910,"y":320,"wires":[]},{"id":"dae60939.e90c28","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"40","topic":"","payload":"","payloadType":"date","x":210,"y":660,"wires":[["8f5786dc.3dfad8"]]},{"id":"8f5786dc.3dfad8","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"paper\";\nmsg.payload.capacity=25;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":660,"wires":[["2d7ed1b3.5c1cae","51bf3be3.0836b4","a9bc31f4.63552"]]},{"id":"8244c3b0.6888a","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"paper\";\nmsg.payload.capacity=50;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":720,"wires":[["a3bfc532.553128","51bf3be3.0836b4","a9bc31f4.63552"]]},{"id":"b9076368.6f3a","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"80","topic":"","payload":"","payloadType":"date","x":210,"y":720,"wires":[["8244c3b0.6888a"]]},{"id":"a3bfc532.553128","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":720,"wires":[]},{"id":"1405801e.6650e","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"120","topic":"","payloadType":"date","x":210,"y":780,"wires":[["f966809d.bfd65"]]},{"id":"f966809d.bfd65","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"paper\";\nmsg.payload.capacity=75;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":780,"wires":[["79d726a2.b45068","51bf3be3.0836b4"]]},{"id":"ab83108e.1549f","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"paper\";\nmsg.payload.capacity=100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":840,"wires":[["8ded40ef.64683","51bf3be3.0836b4","a9bc31f4.63552"]]},{"id":"834331a3.c9cea","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"160","topic":"","payloadType":"date","x":210,"y":840,"wires":[["ab83108e.1549f"]]},{"id":"79d726a2.b45068","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":780,"wires":[]},{"id":"8ded40ef.64683","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":840,"wires":[]},{"id":"2d7ed1b3.5c1cae","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":660,"wires":[]},{"id":"51bf3be3.0836b4","type":"mqtt out","z":"f91d108a.0d1f9","name":"Paper bin","topic":"smarthome/kitchen/bins/paper","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4e0bc2b.49051","x":900,"y":720,"wires":[]},{"id":"c4260d72.0b8c9","type":"comment","z":"f91d108a.0d1f9","name":"Plastic","info":"","x":1050,"y":160,"wires":[]},{"id":"652885e1.feca8c","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"50","topic":"","payloadType":"date","x":1130,"y":260,"wires":[["447d2bcb.a36a54"]]},{"id":"447d2bcb.a36a54","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"plastic\";\nmsg.payload.capacity=25;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":260,"wires":[["8de6809d.456b5","50aa9734.0184b8","ce404fa1.ecac7"]]},{"id":"f8ccf5b3.39c948","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"plastic\";\nmsg.payload.capacity=50;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":320,"wires":[["d97dc8bd.f0c0e8","50aa9734.0184b8","ce404fa1.ecac7"]]},{"id":"7f546188.4c6ed","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"100","topic":"","payloadType":"date","x":1130,"y":320,"wires":[["f8ccf5b3.39c948"]]},{"id":"d97dc8bd.f0c0e8","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":320,"wires":[]},{"id":"54e4fbe6.451ef4","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"150","topic":"","payloadType":"date","x":1130,"y":380,"wires":[["9a8b542e.89b7f8"]]},{"id":"9a8b542e.89b7f8","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"plastic\";\nmsg.payload.capacity=75;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":380,"wires":[["876a2d04.f035d","50aa9734.0184b8","ce404fa1.ecac7"]]},{"id":"9789f4b4.34eed8","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"plastic\";\nmsg.payload.capacity=100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":440,"wires":[["44e564a3.69ab5c","50aa9734.0184b8","ce404fa1.ecac7"]]},{"id":"92d80b40.2281f8","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"200","topic":"","payloadType":"date","x":1130,"y":440,"wires":[["9789f4b4.34eed8"]]},{"id":"876a2d04.f035d","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":380,"wires":[]},{"id":"44e564a3.69ab5c","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":440,"wires":[]},{"id":"8de6809d.456b5","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":260,"wires":[]},{"id":"50aa9734.0184b8","type":"mqtt out","z":"f91d108a.0d1f9","name":"Plastic bin","topic":"smarthome/kitchen/bins/plastic","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4e0bc2b.49051","x":1890,"y":320,"wires":[]},{"id":"33c0d3dd.e594ac","type":"comment","z":"f91d108a.0d1f9","name":"Glass","info":"","x":1070,"y":560,"wires":[]},{"id":"b2cb87a3.911a58","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"480","crontab":"","once":true,"onceDelay":"60","topic":"","payloadType":"date","x":1130,"y":660,"wires":[["66ef49d0.61cae8"]]},{"id":"66ef49d0.61cae8","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"glass\";\nmsg.payload.capacity=25;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":660,"wires":[["c97ad4f1.b5ffd8","e8973138.77564","4c99ee26.abdb"]]},{"id":"610afb6a.fbb314","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"glass\";\nmsg.payload.capacity=50;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":720,"wires":[["b681fc54.d56b2","e8973138.77564","4c99ee26.abdb"]]},{"id":"fdcebff4.584eb","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"480","crontab":"","once":true,"onceDelay":"120","topic":"","payloadType":"date","x":1130,"y":720,"wires":[["610afb6a.fbb314"]]},{"id":"b681fc54.d56b2","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":720,"wires":[]},{"id":"d4e42b3f.81b5f8","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"180","topic":"","payloadType":"date","x":1130,"y":780,"wires":[["a445838c.9c864"]]},{"id":"a445838c.9c864","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"glass\";\nmsg.payload.capacity=75;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":780,"wires":[["c07187e.0d3ea78","e8973138.77564","4c99ee26.abdb"]]},{"id":"e0f7afe.4fc4e5","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"glass\";\nmsg.payload.capacity=100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":840,"wires":[["bdc2291a.c61de8","e8973138.77564","4c99ee26.abdb"]]},{"id":"3c84d92e.606616","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"240","topic":"","payloadType":"date","x":1130,"y":840,"wires":[["e0f7afe.4fc4e5"]]},{"id":"c07187e.0d3ea78","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":780,"wires":[]},{"id":"bdc2291a.c61de8","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":840,"wires":[]},{"id":"c97ad4f1.b5ffd8","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":660,"wires":[]},{"id":"e8973138.77564","type":"mqtt out","z":"f91d108a.0d1f9","name":"Glass bin","topic":"smarthome/kitchen/bins/glass","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b4e0bc2b.49051","x":1880,"y":720,"wires":[]},{"id":"fc3319bb.c1a658","type":"inject","z":"f91d108a.0d1f9","name":"inject first","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"0,1","topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["267ea066.8e867"]]},{"id":"267ea066.8e867","type":"function","z":"f91d108a.0d1f9","name":"Generate 0% integer","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"organic\";\nmsg.payload.capacity=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["918dd297.ee7ef","385757c0.997ea8","ce94b15a.fb39c"]]},{"id":"918dd297.ee7ef","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"87ecdc60.b7fdb","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":true,"onceDelay":"0,1","topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["6f4594f2.d9dc8c"]]},{"id":"6f4594f2.d9dc8c","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"paper\";\nmsg.payload.capacity=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":600,"wires":[["43901d57.2eb2f4","51bf3be3.0836b4","a9bc31f4.63552"]]},{"id":"43901d57.2eb2f4","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":600,"wires":[]},{"id":"9b499b6f.9cbfc8","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"420","crontab":"","once":true,"onceDelay":"0,1","topic":"","payloadType":"date","x":1130,"y":200,"wires":[["a70fe100.05053"]]},{"id":"a70fe100.05053","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"plastic\";\nmsg.payload.capacity=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":200,"wires":[["acdff121.86498","50aa9734.0184b8","ce404fa1.ecac7"]]},{"id":"acdff121.86498","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":200,"wires":[]},{"id":"49eab738.47e6d8","type":"inject","z":"f91d108a.0d1f9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"480","crontab":"","once":true,"onceDelay":"0,1","topic":"","payloadType":"date","x":1130,"y":600,"wires":[["ac9d201d.23446"]]},{"id":"ac9d201d.23446","type":"function","z":"f91d108a.0d1f9","name":"Generate telemetry in JSON format","func":"msg={};\nmsg.payload={};\nmsg.payload.type=\"glass\";\nmsg.payload.capacity=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":600,"wires":[["4c4fb753.245618","e8973138.77564","4c99ee26.abdb"]]},{"id":"4c4fb753.245618","type":"debug","z":"f91d108a.0d1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":600,"wires":[]},{"id":"8267bec5.e84c2","type":"comment","z":"f91d108a.0d1f9","name":"SIMULATION OF THE TRASH CAN LEVELS","info":"","x":1030,"y":80,"wires":[]},{"id":"a9bc31f4.63552","type":"ui_text","z":"f91d108a.0d1f9","group":"d7765006.767cc","order":0,"width":0,"height":0,"name":"","label":"Paper Level (%)","format":"{{msg.payload.capacity}}","layout":"row-spread","className":"","x":900,"y":820,"wires":[]},{"id":"ce94b15a.fb39c","type":"ui_text","z":"f91d108a.0d1f9","group":"79d9ba0c.6c7a44","order":0,"width":0,"height":0,"name":"","label":"Organic Level (%)","format":"{{msg.payload.capacity}}","layout":"row-spread","className":"","x":930,"y":400,"wires":[]},{"id":"4c99ee26.abdb","type":"ui_text","z":"f91d108a.0d1f9","group":"c7655f99.b73fa","order":0,"width":0,"height":0,"name":"","label":"Glass Level (%)","format":"{{msg.payload.capacity}}","layout":"row-spread","className":"","x":1900,"y":800,"wires":[]},{"id":"ce404fa1.ecac7","type":"ui_text","z":"f91d108a.0d1f9","group":"4279d3e5.76e44c","order":0,"width":0,"height":0,"name":"","label":"Plastic Level (%)","format":"{{msg.payload.capacity}}","layout":"row-spread","className":"","x":1910,"y":400,"wires":[]}]